
body{
    background-image: url('pics/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu-but:hover{
    background-color: rgb(76, 201, 240);
    border: 2px solid rgb(76, 201, 240);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.menu-but{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(55, 153, 218);
    border-radius: 50px;
}
.title a{
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 10px;
}
.title{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
    
}
.box{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 12px;
    overflow: auto;
    margin: 10px;

}
.name{
    letter-spacing: .1em;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;
}
.description{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 5px;
    text-align: center;
}
.pack{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(92, 92, 92, 0.144);
    border-radius: 12px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 30%;
    float: left;
    text-align: center;
    
}
.downloads{
    width: 80%;
    margin: auto;;
    margin-bottom: 5px;

}
.downloads img{
    width: 50%;
    border-radius: 25%;
}
footer img{
    width: 4%;
    float: left;
}
footer h6, footer a{
    margin-top: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    float: left;
}
